body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /*overflow: hidden;*/
}

.everything {
  height: 100svh;
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: transparent;
  z-index: 999;
}
